
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05603c;
}

@media (min-width: 768px) {
  .header {
    padding: 0rem 10%;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  font-weight: 1000;
  font-family: 'crafty girls', serif;

  text-transform: uppercase;
}

.logo img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}


@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo{
    font-size: 1.5rem;
    letter-spacing: 0.30rem;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .logo img {
    width: 6rem;
    height: 6rem;
    object-fit: contain;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
  }
  .logo h2{
    font-size: 1rem; 
    letter-spacing: 0.05rem;
  }
  
}
