@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05603c;
}

@media (min-width: 768px) {
  .header {
    padding: 0rem 10%;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.logo img {
  width: 8rem;
  height: 8rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.title {
  text-decoration: none;
  color: #ffffff;
}

.logo h2 {
  margin: 0;
  font-weight: 1000;
  font-family: 'crafty girls', serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .logo {
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
  }

  .logo img {
    width: 6rem;
    height: 6rem;
  }

  .logo h2 {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
}
