.link {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.25rem;
  transition: all 0.3s ease-in-out;
}

.link:hover,
.link:active {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.05);
}

.active {
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(0.95);
}

